.homepage-global {
  box-sizing: border-box;
}
.homepage {
  text-align: center;
  padding: 20px;
}
@media (max-width: 767px) {
  .homepage {
    max-width: 100%;
    width: 100%;
    padding: 20px;
  }
}
.homepage-sub-box {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.callBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  min-height: 200px;
  min-width: 200px;
  border-radius: 15px;
  gap: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.callBox-icon {
  font-size: 40px;
}
@media (max-width: 767px) {
  .callBox {
    min-height: 150px;
    min-width: 150px;
  }
}
@media (max-width: 440px) {
  .homepage-sub-box {
    gap: 0.5rem;
  }
  .callBox-icon {
    font-size: 30px;
  }
  .callBox {
    min-height: 80px;
    min-width: 80px;
  }
  .callBox p {
    font-size: 13px;
  }
}
/* Light Theme */
[data-theme="light"] .callBox {
  background-color: #ececec;
}
/* Dark Theme */
[data-theme="dark"] .callBox {
  background-color: #1e1e1e;
}

/* Light Theme */
[data-theme="light"] .callBox-icon,
[data-theme="light"] .callBox p {
  color: #5a5a5a;
}
/* Dark Theme */
[data-theme="dark"] .callBox-icon,
.callBox p {
  color: #b8b8b8;
}

/* Light Theme */
[data-theme="light"] .callBox:hover {
  background-color: #afafaf;
}
[data-theme="light"] .callBox:hover .callBox-icon,
[data-theme="light"] .callBox:hover p {
  color: #000000;
}

/* Dark Theme */
[data-theme="dark"] .callBox:hover {
  background-color: #2e2e2e;
}
[data-theme="dark"] .callBox:hover .callBox-icon,
[data-theme="dark"] .callBox:hover p {
  color: #ffffff;
}

/* ====== */
.read-the-docs {
  font-size: 0.9rem;
}
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  box-sizing: border-box;
  margin: 50px auto 0 auto;
}
.input-email,
.input-roomId {
  width: 100%;
  padding: 10px;
}
.input-box button {
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 100%;
  cursor: pointer;
}
